<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur3_pg70" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur3 -->
  <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro" />

  <!-- schunk pg70 -->
  <xacro:include filename="$(find schunkPG70_description)/robots/schunkPG70_description.URDF" />

  <!-- arm -->
  <xacro:ur3_robot prefix="" joint_limited="false"/>
  
  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

 <link name="gripper_link">
    <visual>
      <geometry>
        <box size="0.08 0.113 0.005"/>
      </geometry>
      <material name="o">
      	 <color rgba="0.549019608 0.450980392 0.235294118 1" />
      </material>
    </visual>
  </link>

  <joint name="gripper_joint" type="fixed">
    <parent link="ee_link"/>
    <child link="gripper_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 ${pi/2} 0.0" />
 </joint>

  <!-- GRIPPER -->
  <joint name="tool_joint" type="fixed">
    <parent link="gripper_link"/>
    <child link="tool_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="${pi} -${pi/2} 0.0" />
 </joint>


 <link name="gripper_power_cable">
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.0075"/>
      </geometry>
      <material name="o">
      	 <color rgba="0.549019608 0.450980392 0.235294118 1" />
      </material>
    </visual>
 </link>

 <joint name="gripper_power_cable_joint" type="fixed">
    <parent link="tool_link"/>
    <child link="gripper_power_cable"/>
    <origin xyz="0.0 -0.082 0.0" rpy="0.0 ${pi/2} 0.0" />
 </joint>

  
</robot>
