<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur3_pg70_table" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur3 -->
  <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro" />

  <!-- schunk pg70 -->
  <xacro:include filename="$(find schunk_pg70)/urdf/pg70.urdf.xacro" />

  <!-- arm -->
  <xacro:ur3_robot prefix="" joint_limited="false"/>

  <link name="world" />

<!-- box-->
  <link name="box_link">
    <visual>
      <geometry>
        <box size="1.0 1.0 0.86"/>
      </geometry>
    </visual>
  </link>

<!-- attach the box to the world-->
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "box_link" />
    <origin xyz="0.0 0.0 0.43" rpy="0.0 0.0 0.0" />
  </joint>

<!-- attach the robot to the box -->
 <joint name="box_joint" type="fixed">
    <parent link="box_link"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.43" rpy="0 0 1.57" />
 </joint>

 <link name="gripper_link">
    <visual>
      <geometry>
        <box size="0.08 0.113 0.005"/>
      </geometry>
    </visual>
  </link>

  <joint name="gripper_joint" type="fixed">
    <parent link="ee_link"/>
    <child link="gripper_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="${pi} -${pi/2} 0.0" />
 </joint>

  <!-- GRIPPER -->
  <xacro:schunk_pg70 name="pg70" parent="gripper_link">
    <origin xyz="0 0.0 0.01" rpy="0 0 0" /> <!--slightly above gazebo plane-->
  </xacro:schunk_pg70>

  <link name="gripper_power_box">
    <visual>
      <geometry>
        <box size="0.047 0.068 0.07"/>
      </geometry>
    </visual>
  </link>

  <joint name="gripper_power_joint" type="fixed">
    <parent link="pg70_base_link"/>
    <child link="gripper_power_box"/>
    <origin xyz="0.004 -0.08 0.029" rpy="0.0 0.0 ${pi/2}" />
 </joint>

 <link name="gripper_power_cable">
    <visual>
      <geometry>
        <cylinder length="0.025" radius="0.0075"/>
      </geometry>
    </visual>
  </link>

  <joint name="gripper_power_cable_joint" type="fixed">
    <parent link="gripper_power_box"/>
    <child link="gripper_power_cable"/>
    <origin xyz="0.0 0.0 -0.05" rpy="0.0 0.0 0.0" />
 </joint>
  
</robot>
